body {
    font-family: Georgia;
    max-width: 70rem;
    margin-left: 30px;
    margin-right: 10px;
    text-align: left;
    padding-left: 5%;
}

.newheader {
    background-color: rgb(110, 152, 232);
    color: beige;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 10%;
    margin-bottom: 15px;
}

img {
    width: 50%;
    float: left;
    padding: 10px;
}

.caption {
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

h1 {
    font-style: bold;
    font-size: 40px;
    text-align: left;
    padding-left: 5%;
}

h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
    text-align: left;
    padding-left: 5%;
}

h3 {
    font-size: 15px;
    margin-bottom: 1.5rem;
    text-align: left
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    font-size: 6px;
    text-align: left;
    padding-left: 5%;
}

p
 {
    font-size: 20px;
    padding-left: 5%;
}


.otherimg {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

li {
    text-align: left;
}

a {
    color: rgb(64, 8, 101);
}

.navlink {
    color: white;
}
